{% extends "base.jinja" %}
{% block content %}

<main id="main-content" class="rvt-layout__wrapper rvt-layout__wrapper--single rvt-container-sm">
    <div class="rvt-layout__content">

        <!-- ******************************************************************
            Page title and summary
        ******************************************************************* -->

        <div class="rvt-m-top-xxl rvt-m-top-md-md-up rvt-flow rvt-prose">
            <h1>Become the best version of yourself at IU</h1>
            <p class="rvt-ts-20 rvt-color-black-500">Develop the skills you need for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
        </div>
        
        <!-- ******************************************************************
            Content
        ******************************************************************* -->
        
        <div class="rvt-prose rvt-flow rvt-border-top rvt-p-top-lg rvt-m-top-xl">
            
            <!-- **************************************************************
                Feature slot
            *************************************************************** -->
            
            <div class="rvt-layout__feature-slot">
                <div class="rvt-card rvt-card--raised">
                    <div class="rvt-card__body">
                        <span class="rvt-ts-18 rvt-text-bold">Find your calling</span>
                        <p>IU offers more than 2,300 different programs of study. Not sure what to focus on? No problem. Browse by interest area to find options you'd enjoy pursuing.</p>
                        <a href="#0" class="rvt-cta">Browse degrees and majors</a>
                    </div>
                </div>
            </div>

            <!-- **************************************************************
                Running text
            *************************************************************** -->
            
            <p>In 1820, IU became one of the first public universities west of the Allegheny Mountains. Today it’s one of the <strong>top public research universities in the world</strong>. Learn about how far we’ve come—and some major milestones along the way.</p>
            <h2>Pursue your passion or explore the possibilities</h2>
            <p>From nursing to criminal justice, epidemiology to environmental science, social work to cybersecurity, and more than 900 academic programs in between, IU gives you the power to study whatever sparks your interest, with the support of world-class professors and faculty who care about your success.</p>
            <a href="#0" class="rvt-cta">Explore IU academics</a>
            <hr>
            <h2>Find your ideal campus life at IU</h2>
            <p>Each of our nine campuses offers a welcoming, inclusive environment that feels like home, whatever your background, interests, or goals.</p>
            <p>Whether you want a Big Ten college experience, the dynamic pace of an urban research university, the community feeling of a regional campus close to home, or the flexibility of a fully online degree program, <em>you’ll find it at IU</em>.</p>
            
            <!-- **************************************************************
                Breakout element
            *************************************************************** -->
            
            <figure class="rvt-layout__break-out">
                <img src="https://rivet.iu.edu/img/placeholder/details-1.webp" alt="Cyclists participating in the Little 500 race">
                <figcaption>This is a break out content area with an image</figcaption>
            </figure>
            
            <!-- **************************************************************
                Running text
            *************************************************************** -->
            
            <h2>Be part of a university that makes a global impact</h2>
            <p>IU is on the front lines of important, life-changing issues and global developments. Our international partnerships reach nearly every region of the world, making it easy to pursue your passions at home or abroad.</p>
            <p>With an eye on the future, IU faculty, scientists, and researchers are making Indiana—and the world—a better place through their research on groundbreaking projects.</p>
            <a href="#0" class="rvt-cta">Explore IU's global impact</a>
            <hr>
            <h2>Life at IU Bloomington</h2>
            <p>IU Bloomington offers our biggest and most traditional campus life, with an incredible variety of academic and extracurricular opportunities, thriving campus traditions, and an unmistakable sense of Hoosier pride.</p>
            <h3>Picture yourself at IU Bloomington</h3>
            <p>It’s easy to fall in love with IU Bloomington’s beautiful campus, with iconic places like the picturesque Arboretum, the grand Musical Arts Center (“the MAC”), and the Indiana Memorial Union (IMU), one of the country’s largest student unions, with four floors of late-night dining options, study rooms, a bowling alley, a movie theater, and more.</p>
            <h4>Keep learning during challenging times</h4>
            <p>Head to our Keep Learning site to find technology resources, self care support, and opportunities to stay connected to the IU community during COVID-19, whether you’re on campus or learning remotely.</p>
            <h5>A lively campus residential life</h5>
            <p>About a third of undergraduates live on campus (including all first-year students), and IU Bloomington offers a range of different campus housing options, from traditional dorms to apartment-style housing.</p>
            <h6>Growing resources for culture and diversity</h6>
            <p>Culture and diversity are deep cornerstones of the IU Bloomington campus and college experience. Today, campus is home to six active centers and institutes for African-American Arts, Asian culture, Black culture, First Nations culture, Latino culture, and the LGBTQ+ community, as well as 200 student cultural organizations and counting.</p>
            <h2>Student clubs and organizations for 750+ interests</h2>
            <p>Whatever you’re into, you’ll find your people here. Campus is always buzzing with the activity of student organizations:</p>
            <ul>
                <li>Student government</li>
                <li>Campus newspaper</li>
                <li>Volunteer organizations</li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}