{% extends "base.jinja" %}
{% block content %}
<main id="main-content" class="rvt-layout__wrapper rvt-container-sm">
    <div class="rvt-layout__content">
        <!-- ******************************************************************
            Headshot, name, and title
        ******************************************************************* -->
        
        <div class="rvt-flex-md-up rvt-items-center-md-up rvt-m-top-xxl rvt-m-top-md-md-up">
            
            <!-- **************************************************************
                Headshot
            *************************************************************** -->
            
            <div class=" rvt-avatar--xl rvt-m-right-lg-md-up">
                <img class="rvt-avatar__image" src="{{ user.profile_picture }}" alt="">
            </div>

            <!-- **************************************************************
                Name and title
            *************************************************************** -->

            <div class="rvt-prose rvt-flow">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <p>{{ user.username }}</p>
                <p class="rvt-ts-20 rvt-color-black-500">{{ user.organization }}</p>
            </div>
        </div>
        <div class="rvt-prose rvt-flow rvt-border-top rvt-p-top-lg rvt-m-top-xl">

            <!-- **************************************************************
                Contact information card
            *************************************************************** -->
            
            <div class="rvt-layout__feature-slot">
                <div class="rvt-card rvt-card--raised">
                    <div class="rvt-card__body">
                        <dl class="rvt-list-description rvt-m-all-none">
                            <dt>Phone:</dt>
                            <dd>{{ user.phone }}</dd>
                            <dt>Email:</dt>
                            <dd><a href="#0">{{ user.email }}</a></dd>
                            <dt>Location:</dt>
                            <dd>{{ user.location }}</dd>
                            <dt>Website:</dt>
                            <dd><a href="#0">{{ user.website}}</a></dd>
                        </dl>
                    </div>
                </div>
            </div>

            <!-- **************************************************************
                Biography
            *************************************************************** -->

            <h2>Interests</h2>
            <ul>
                {% for interest in user.interests.split(";") %}
                <li>{{ interest }}</li>
                {% endfor %}
            </ul>
            <h2>About</h2>
            <p>{{ user.bio }}</p>
        </div>
    </div>
</main>
{% endblock %}
